<div class="col-md-6 d-flex align-items-stretch mb-3">
    <div class="card w-100 d-flex flex-row movie-card" style="border: 2px solid #4b5563;">
        <img src="" class="card-img-left img-fluid" alt="Product image" style="width: 200px; height: auto; object-fit: cover; border-top-left-radius: 10px; border-bottom-left-radius: 10px;">
        <div class="card-body bg-dark text-white" style="border-top-right-radius: 10px; border-bottom-right-radius: 10px;">
            <img src="" class="card-img-top" alt="Product image" style="width: 100%; height: auto; object-fit: cover; border-radius: 10px;">
            <h5 class="card-title">Tên sản phẩm:</h5>
            <p class="card-text"><strong>Dung lượng:</strong> <span class="product-storage"></span></p>
            <p class="card-text"><strong>Màu sắc:</strong> <span class="product-color"></span></p>
            <p class="card-text"><strong>Giá bán:</strong> <span class="product-price"></span></p>
        </div>
    </div>
</div>